.app-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #333;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .chart {
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .plotly-graph-div {
    border-radius: 8px;
    width: 100% !important;
    height: auto !important;
  }